.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  width: 340px;
  height: min-content;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}
  /* {{names.map (nm =><User names={nm.names} pics={nm.pics}/>)}}
   {/* <Counter/> */

.add-movie{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 1rem auto;
  gap:0.8rem;
}    
/* .not-found{
 text-align:center;

}
.not{
 width: 100%;
 max-width: 900px;
 text-alig: center;
} 
  */
.movie-detail-container{
  max-width: 750px;
  padding: 16px;
}
.home{
  text-align: center;
}
